<div class="gift-wrap cart-form">
<input name="gift_wrap[add]" id="gift_wrap_add" type="checkbox" value="1">
              Add Gift Wrap<br/> 
               
              <%= text_area_tag :gift_text, "",:cols => "", :rows => "3",:class => "gift-wrap-textarea", :maxlength =>"200", :placeholder => "Enter gift wrap note" %>
</div>